.card-container {
  width: 250px;
  border: 3px solid #ca2b2b;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: red; /* Adiciona a cor vermelha ao texto */
}

.card-id {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  background-color: rgb(118, 18, 18);
  border-radius: 5px;
  color: rgb(237, 231, 231);
  font-weight: 700;
  padding: 3px;
  font-family: monospace;
}

.card-title {
  margin-bottom: 10px; /* Add some spacing between title and other content */
  font-size: 18px; /* Increase font size for title */
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  margin-bottom: 5px; /* Add spacing between description and cost */
}

.card-cost {
  font-size: 16px; /* Increase font size for cost */
  margin-top: 5px;
}

.card-container:hover {
  background-color: aqua;
}
